@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";  // Layout'u bağla
}
<link rel="stylesheet" href="/css/style.css" />
<section class="blogs" id="blogs">
    <h1 class="heading">our <span>blog</span></h1>
    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="/images/blog-1.jpg" alt="blog" />
            </div>
            <div class="content">
                <a href="#" class="title">how to make burgers?</a>
                <span>by admin / 10st may, 2024</span>
                <p>Lorem Ipsum Dolor Sit Amet Consectetur, Adipisicing Elit.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="/images/blog-2.jpg" alt="blog" />
            </div>
            <div class="content">
                <a href="#" class="title">how to make burgers?</a>
                <span>by admin / 10st may, 2024</span>
                <p>Lorem Ipsum Dolor Sit Amet Consectetur, Adipisicing Elit.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>
    </div>
</section>