@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/css/style.css" />
<section class="contact" id="contact">
    <h1 class="heading">contact <span>us</span></h1>
    <div class="row">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12039.885544917304!2d29.2389506!3d41.0035299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac65a7cf77f4d%3A0xf91cb582fa418eb6!2sMeclis%2C%20Dervi%C5%9F%20Sk.%20No%3A26-30%2C%2034785%20Sancaktepe%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1727347200000!5m2!1str!2str" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <form>
            <h3>get in touch</h3>
            <div class="inputBox">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="name" class="search-input" />
            </div>
            <div class="inputBox">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="email" class="search-input" />
            </div>
            <div class="inputBox">
                <i class="fas fa-phone"></i>
                <input type="number" placeholder="phone number" class="search-input" />
            </div>
            <input type="submit" class="btn" value="contact now" />
        </form>
    </div>
</section>